.links_img {
    height: 100%;
    background-image: url(/src/blog/img/links.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

.links_bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(21, 32, 43, 1) 52.5%);
}

.links_heading {
    margin-top: 5px;
    font-size: 30px;
}

.links_row {
    margin-left: 20px;
    font-size: 25px;
    display: flex;
}

.links_description {
    font-size: 15px;
    margin-left: 20px;
    align-self: center;
    line-height: 5px;
}

@media screen and (max-width: 1000px) {
    .links_img {
        background-size: cover;
        background-position: 50px top;
    }
}