.secret_img {
    height: 100%;
    background-image: url(/src/blog/img/secret.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    animation: bg 1s 1;
}

@keyframes bg {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.secret_bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(21, 32, 43, 1) 40%);
}